.dialog_overlay {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.322);
    z-index: 0;
}

.close_button {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50px;
    transition: transform 0.5s ease;
    transform-origin: center center;
}

.close_button:hover {
    cursor: pointer;
    transform: rotate(90deg);
}

.left_arrow {
    position: absolute;
    height: 75px;
    left: 5%;
    top: 50%;
    filter: invert(1);
    cursor: pointer;
    width: auto;
    border-radius: 40px;
    transition: 0.5s;
}

.right_arrow {
    position: absolute;
    height: 75px;
    right: 5%;
    top: 50%;
    filter: invert(1);
    cursor: pointer;
    width: auto;
    border-radius: 50px;
    transition: 0.5s;
}

.left_arrow:hover {
    transform: scale(1.1) translateX(-8px);
    background-color: white;
}

.right_arrow:hover {
    transform: scale(1.1) translateX(8px);
    background-color: white;
}

dialog {
    height: 70%;
    width: 400px;
    display: flex;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    border-style: none;
    background-color: #E1C150;
    font-family: "Orbitron", sans-serif;
}

.dialog_content {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ADB5BD;
    flex-direction: column;
}

.dialog_content .dialog_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.dialog_head .dialog_head_info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.dialog_head h3 {
    margin: 0;
}

.dialog_head_image .dialog_image_background {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog_head .dialog_head_image {
    width: 90%;
    background: linear-gradient(180deg, rgba(186, 155, 117, 1) 0%, rgba(232, 207, 139, 1) 50%, rgba(186, 155, 117, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(2px 2px 3px black);
}

.dialog_head .dialog_image {
    width: 70%;
}

.dialog_head .dialog_type {
    width: 80%;
    text-align: center;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(120, 105, 46, 1) 0%, rgba(218, 195, 116, 1) 50%, rgba(120, 105, 46, 1) 100%);
}